* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
}

.hearder {
    border: solid 10px cornflowerblue;
    width: 890px ;
    text-align: center;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap ;
    gap: 10px ;
    justify-content: center;
    align-items: center;
}

.one {
    border: 0px solid;
    height: 200px;
    width: 200px ;
    text-align: center;
    background-color: white;
}

.two {
    border: 0px solid;
    height: 200px;
    width: 200px ;
    text-align: center;
    background-color: white;
}

.three {
    border: 0px solid;
    height: 200px;
    width: 200px ;
    text-align: center;
    background-color: white;
}

.four {
    border: 0px solid;
    height: 200px;
    width: 200px ;
    text-align: center;
    background-color: white;
}

.five {
    border: 0px solid;
    height: 200px;
    width: 200px ;
    text-align: center;
    background-color: white;
}

.six {
    border: 0px solid;
    height: 200px;
    width: 200px ;
    text-align: center;
    background-color: white;
}

.seven {
    border: 0px solid;
    height: 200px;
    width: 200px ;
    text-align: center;
    background-color: white;
}

.eight {
    border: 0px solid;
    height: 200px ;
    width: 200px ;
    text-align: center;
    background-color: white;
}